<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Salmon's Blog</title>

  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
  <!-- <link rel= "stylesheet" type= "text/css" href= "./style.css" }}"> -->
  

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

<body>
    <div class="container">
        <header>
          <h1 class="py-4">{{data.title}}</h1>
            <img class="img-thumbnail" src="https://act.hoyoverse.com/puzzle/hk4e/pz_qU_XDEsGGe/resource/puzzle/upload/puzzle/2023/08/03/4571db40a756970f0af4be1266e129c2_4738540530039281587.png?x-oss-process=image/format,webp/quality,Q_90" alt="" srcset="">
        </header>

        <section class="pt-5">
          <h2>About Me</h2>
          <p>
            我加入了谷歌公司作为软件工程师，参与了多个项目，负责开发和优化复杂的算法和应用程序。我在人工智能领域有丰富的经验，曾参与开发机器学习模型和自然语言处理工具。

            我热爱户外活动，喜欢徒步旅行和攀岩。此外，我也是一位音乐爱好者，会弹吉他和钢琴。阅读是我的另一个爱好，我喜欢探索各种不同类型的书籍，从科幻小说到历史文化。
          </p>
          <p class="pt-5"></p>
          <h2>今年计划</h2>
          <div class="list-group pt-4">
            {%for item in data.year_target %}
               {% include 'year_targat_item.html'%}
            {%endfor%}
          </div>
        </section>
        <footer>
            <p class="text-center pt-2">Copyright 2023,Salmon</p>
              </footer>
    </div>
</body>

</html>