<!DOCTYPE html>
<html lang="en">
<head>
  <title>Salmon's Blog</title>
  {% include 'bootstrap.html'%}
<body>
  {% include 'home_nav.html'%}
    <div class="container">
       {% include 'home_header.html'%}
        <section class="pt-5">
          <h2>About Me</h2>
          <p class="fs-3">
            我加入了Dark Nebula作为软件工程师，参与了多个项目，负责开发和优化复杂的算法和应用程序。我在人工智能领域有丰富的经验，曾参与开发机器学习模型和自然语言处理工具。

            我热爱户外活动，喜欢徒步旅行和攀岩。此外，我也是一位音乐爱好者，会弹吉他和钢琴。阅读是我的另一个爱好，我喜欢探索各种不同类型的书籍，从科幻小说到历史文化。
          </p>
          <p class="pt-5"></p>
          <h2>今年计划</h2>
          <div class="list-group pt-4">
            {%for item in data %}
               {% include 'year_targat_item.html'%}
            {%endfor%}
          </div>
        </section>
        
    </div>
  {%include 'home_footer.html'%}
</body>

</html>