<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Salmon's Blog</title>
  {% include 'bootstrap.html'%}
</head>

<body style="background-color: aqua;">
  {% include 'home_nav.html'%}
  <div class="target_add_header text-center py-4" style="border-bottom: 1px solid #ddd; padding-bottom: 15px;">
    <h1>Target Add</h1>
  </div>
  <div class="container text-center py-5">
    <form id="target_add_form">

      <!-- title -->
      <div class="row mb-3">
        <label for="input_title" class="col-sm-2 col-form-label">title</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="input_title" name="target_title">
        </div>
      </div>

      <!-- image upload -->  
      <div class="input-group mb-5">
        <input type="file" class="form-control" id="inputGroupFile02" accept="image/*">
        <label class="input-group-text" for="inputGroupFile02" id="upload_input_label">Upload</label>
      </div>
      <!-- preview image -->
      <div id="preview_image">
        
      </div>

      <!-- description -->
      <div class="form-floating mb-5">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px" name="target_description"></textarea>
        <label for="floatingTextarea2">Comments</label>
      </div>

      <!-- key point list -->
      <div class=".container pt-3" style="background-color: red;">

        <div class="point_list" id="point_list">
          <!-- <div class="row pb-3 border-bottom border-dark">
            <label for="inputEmail3" class="col-sm-2 col-form-label">key point</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="inputEmail3">
            </div>
          </div> -->
        </div>

        <div class="row mb-5">
          <button type="button" class="btn btn-secondary btn-lg" id="AddPointButton">Add Point Button</button>
        </div>
      </div>

      <!-- summary -->
      <div class="form-floating mb-5">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px" name="target_summary"></textarea>
        <label for="floatingTextarea2">Comments</label>
      </div>
      <div class="row mb-3 mt-5">
        <button type="submit" class="btn btn-secondary btn-lg">Large button</button>
      </div>
    </form>
    <div class="target_add_results text-start" id="target_add_results">


    </div>
  </div>
</body>
<script>
  $(document).ready(function() {
    // $('#inputGroupFile02').change(function (e) {
    //   console.log(e.target.files);
    //   console.log(document.getElementById('inputGroupFile02').files[0]) 
    //   console.log($('#inputGroupFile02')[0].files[0]) 
    // })
    
    //  使用JQ的选择器无法获取到files属性
    // - JQ的$('#inputGroupFile02')并不等于JS的document.getElementById('inputGroupFile02')
    // - $('#inputGroupFile02')[0]等于JS的document.getElementById('inputGroupFile02')
    $('#upload_input_label').click(function (e) {
    
      e.preventDefault()

      // 获取图片资源
      var image_file=document.getElementById('inputGroupFile02').files[0];
      
      const formData=new FormData();
      formData.append('image',image_file)

      $.ajax({
        type:'POST',
        url:'https://exercise-jovian-careers-websit--salmonpj.repl.co/api/v1/uploads',
        data:formData,
        processData:false,
        contentType: false,
        success: function(response) {
                    console.log(response)
                    console.log("image url:",response.image_url) 

                    var img = document.createElement('img');
                    img.id = 'preview';
          
                    img.src = `${response.image_url}`;
          
                    $("#preview_image").empty()
                    $("#preview_image")[0].appendChild(img)
                },
        error: function(xhr, status, error) {
                    console.log(error)
                }
      })
      
    })

    // 定义一个函数来生成 "key point" 输入框的 HTML 模板
    function getKeyPointTemplate() {
      return `
    <div class="row pb-3 border-bottom border-dark">
      <label for="inputEmail3" class="col-sm-2 col-form-label">key point</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputEmail3" name="key_point">
      </div>
    </div>
    `;
    }

    // 定义一个函数来添加 "key point" 输入框
    function addKeyPointInput() {
      var point_list = $('#point_list');
      var htmlTemplate = getKeyPointTemplate(); // 获取模板字符串
      point_list.append(htmlTemplate); // 使用模板字符串创建新元素并添加到 point_list 中
    }

    // 添加 "key point" 输入框事件处理
    $('#AddPointButton').click(function(e) {
      addKeyPointInput();
    });

    $('#target_add_form').submit(function(e) {
      e.preventDefault()

      var target_title = $('input[name="target_title"]').val();
      var target_image = $("#preview").attr("src");
      var target_description = $('textarea[name="target_description').val();
      var target_summary = $('textarea[name="target_summary"]').val();

      // 选择所有带有 name="key_point" 的 input 元素
      var keyPoints = $('input[name="key_point"]').map(function() {
        return $(this).val();
      }).get();

      var dataToSend = {
        target_title: target_title,
        target_image: target_image,
        target_description: target_description,
        target_key_points: keyPoints,
        target_summary: target_summary,
      };

      $.ajax({
        type: 'POST',
        url: "https://exercise-jovian-careers-websit--salmonpj.repl.co/api/v1/year_target_detail_list",
        data: JSON.stringify(dataToSend),
        contentType: "application/json", // 指定请求的内容类型为 JSON
        dataType: 'json',
        beforeSend: function(xhr) {
          // 在发送请求之前执行的操作
          console.log("即将发送的JSON数据：", JSON.stringify(xhr.data));
        },
        success: function(response) {
          // 请求成功的回调函数
          console.log("服务器响应数据:", response);
        
        },
        error: function(jqXHR, textStatus, errorThrown) {
          // 请求失败的回调函数
          console.error("请求失败:", textStatus, errorThrown);
        }
      })
    })

  })
</script>

</html>