<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Salmon's Blog</title>
  {% include 'bootstrap.html'%}
</head>

<body style="background-color: aqua;">
  <div class="target_add_header text-center py-4" style="border-bottom: 1px solid #ddd; padding-bottom: 15px;">
    <h1>Target Search</h1>
  </div>
  <div class="container text-center py-5">
    <form id="target_add_form">

      <!-- title -->
      <div class="row mb-3">
        <label for="inputEmail3" class="col-sm-2 col-form-label">title</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="inputEmail3">
        </div>
      </div>

      <!-- image upload -->
      <div class="input-group mb-5">
        <input type="file" class="form-control" id="inputGroupFile02">
        <label class="input-group-text" for="inputGroupFile02">Upload</label>
      </div>

      <!-- description -->
      <div class="form-floating mb-5">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
        <label for="floatingTextarea2">Comments</label>
      </div>

      <!-- key point list -->
      <!-- todo: dynamic add point input text -->
      <div class=".container pt-3" style="background-color: red;">

        <div class="point_list" id="point_list">
          <!-- <div class="row pb-3 border-bottom border-dark">
            <label for="inputEmail3" class="col-sm-2 col-form-label">key point</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="inputEmail3">
            </div>
          </div> -->
        </div>

        <div class="row mb-5">
          <button type="button" class="btn btn-secondary btn-lg" id="AddPointButton">Add Point Button</button>
        </div>
      </div>

      <!-- summary -->
      <div class="form-floating mb-5">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
        <label for="floatingTextarea2">Comments</label>
      </div>
      <div class="row mb-3 mt-5">
        <button type="button" class="btn btn-secondary btn-lg">Large button</button>
      </div>
    </form>
    <div class="target_add_results text-start" id="target_add_results">


    </div>
  </div>
</body>
<script>
  $(document).ready(function() {

    $('#AddPointButton').click(function(e){
      // e.preventDefault()

      console.log("ddddd")

      var point_list=$('#point_list')

      // 创建包含HTML代码的jQuery对象
      var newElement = $(
      '<div class="row pb-3 border-bottom border-dark">' +
        '<label for="inputEmail3" class="col-sm-2 col-form-label">key point</label>' +
        '<div class="col-sm-10">' +
          '<input type="email" class="form-control" id="inputEmail3">' +
          '</div>' +
        '</div>'
      );

      // 将新创建的元素添加为point_list的子元素
      point_list.append(newElement);



    })

    $('#target_add_form').submit(function(e) {
      e.preventDefault()

      var target_title = $('input[name="target_title"]').val();

      $.ajax({
        type: 'GET',
        url: "https://exercise-jovian-careers-websit--salmonpj.repl.co/api/v1/target/target_search",
        data: {
          target_title: target_title
        },
        dataType: 'json',
        success: function(data) {
          console.log(data);
          console.log($('#target_search_results'));

          // 创建一个 ul 元素
          var ul = $('<ul>').addClass('list-group');

          // 创建 li 元素并添加数据
          var titleLi = $('<li>').addClass('list-group-item d-flex justify-content-between align-items-center')
            .text(data['title'])
            .append($('<span>').addClass('badge bg-secondary badge-pill').text('Edit'));
          var descriptionLi = $('<li>').addClass('list-group-item d-flex justify-content-between align-items-center')
            .text(data['description'])
            .append($('<span>').addClass('badge bg-secondary badge-pill').text('Edit'));
          var imageUrlLi = $('<li>').addClass('list-group-item d-flex justify-content-between align-items-center disabled')
            .text(data['image_url'])
            .append($('<span>').addClass('badge bg-secondary badge-pill').text('Edit'));
          var keyPointsUl = $('<ul>');
          for (let item of data['key_point_list']) {
            keyPointsUl.append($('<li>').text(item));
          }
          var keyPointsLi = $('<li>').addClass('list-group-item d-flex justify-content-between align-items-center disabled')
            .append(keyPointsUl)
            .append($('<span>').addClass('badge bg-secondary badge-pill').text('Edit'));
          var summaryLi = $('<li>').addClass('list-group-item d-flex justify-content-between align-items-center disabled')
            .text(data['summary'])
            .append($('<span>').addClass('badge bg-secondary badge-pill').text('Edit'));

          // 将 li 元素添加到 ul 元素中
          ul.append(titleLi, descriptionLi, imageUrlLi, keyPointsLi, summaryLi);

          // 将 ul 元素插入到目标元素中
          $('#target_search_results').html(ul);

        }

      })
    })
  })
</script>

</html>