<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Upload List</title>
  {% include 'bootstrap.html'%}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>
<body>
  <div class="container">
    <header class="pt-5 pb-3 border-bottom">
      <p class="fs-4 text-start"> Upload List Page </P>
    </header>  
    <div class="content pt-3 pb-5">
      <p>Drag & drop files on this window or use the "Upload Files…" button to upload new files.</p>
      <div class="container text-center">
        <div class="row justify-content-between">
            <div class="col-2">
                <input type="file" id="file-input" style="display:none;">
                <button type="button" class="btn btn-secondary" id="upload-button">
                  <span class="bi bi-cloud-upload-fill d-inline ps-4"></span>
                  Upload Files...
                </button>
            </div>
            <div class="col-2">
                <button type="button" class="btn btn-info" id="refresh-button">
                  <span class="bi bi-arrow-clockwise d-inline pr-4"></span>
                    Refresh
                </button>
            </div>
        </div>
      </div>
      <div class="list-group pt-4">
        <div class="list-group-item list-group-item-action list-group-item-dark" aria-current="true">
          File Title
        </div>
        <div id="file-item-group">
           {%for item in data %}
          <div class="list-group-item list-group-item-action list-item">
          <div class="row justify-content-between">
            <div class="col-8">
              <div class=""container text-center">
                <div class="row">
                  <div class="col-1">
                  <!-- down title -->
                  <button type="button" class="btn bg-dark-subtle">
                      <span class="bi bi-arrow-down-circle-fill"></span>
                  </button>
                </div>
                 <div class="col-11">
                   <!-- title -->
                  <span class="d-inline">
                    <label for="editableField" class="mt-1 label-text">{{item['file_name']}} </label>
                    <input type="text" style="display:none;height:100%" class="form-control editableField">
                  </span>
                 </div>
                </div>
                
              </div>
        </div>

          <div class="col-4 text-end">
            <!-- file size -->
            <span class="d-inline pe-3">{{item['file_size']}}</span>
            <!-- del button -->
            <button type="button" class="btn bg-dark-subtle delete-button" data-file-name="{{item['file_name']}}">
                  <span class="bi bi-trash-fill"></span>
            </button>  
          </div>          
          </div>
          
        </div>
        {%endfor%}
        </div>
      </div>
    </div>
    </div>
  </div>
  <script>
    $(document).ready(function() {
       fileItemGroup=document.getElementById('file-item-group');
       fileItemGroupChildren = Array.from(fileItemGroup.children);
       const fileInput = $('#file-input');

      fileItemGroupChildren.forEach((item,index)=>{
         const deleteButton = item.querySelector('.delete-button');
         const labelText = item.querySelector('.label-text');
         const editableField = item.querySelector('.editableField');

         deleteButton.addEventListener('click',function(){

            //获取文件名
          const fileNameToDelete = deleteButton.getAttribute('data-file-name');

           // 调用删除的API，删除当
          $.ajax({
            url:`https://exercise-jovian-careers-websit--salmonpj.repl.co/api/v1/uploads/${fileNameToDelete}`,
            type:'DELETE',
            success:function (response) {
              // 处理成功
              console.log(response)  

            // 更新页面数据
            // 例如，可以从页面中移除已删除的文件项
            // 假设要删除的文件名为 fileNameToDelete
              console.log(fileItemGroupChildren.length);
              
              data={
                count:fileItemGroupChildren.length,
                list:fileItemGroupChildren
              }
              
              fileItemGroupChildren[index].remove();
              
            },
            error:function (error) {
              //处理错误
              console.error('Error:',error);
            }
          })
        })

         labelText.addEventListener('click',function () {
           
            labelText.style.display = 'none';
            editableField.style.display = 'inline-block';
            editableField.value = labelText.innerText.trim();
            editableField.focus();
           
         })


        editableField.addEventListener('blur',function () {
          
           const originName = labelText.innerText.trim();
           labelText.style.display = 'inline-block';
           editableField.style.display = 'none';
           labelText.innerText = editableField.value;

           const requestData = {
             
              origin_name: originName,
              rename: editableField.value
             
            };

      if (requestData.origin_name !== requestData.rename) {
        // Send data to the server to save the changes
        $.ajax({
          url: 'https://exercise-jovian-careers-websit--salmonpj.repl.co/api/v1/uploads',
          type: 'PUT',
          contentType: 'application/json',
          data: JSON.stringify(requestData),
          success: function(response) {
            // Handle success response
            console.log(response);
          },
          error: function(error) {
            // Handle error response
            console.error('Error:', error);
          }
        });
      }
        })
      })

      $('#refresh-button').click(()=> {
        // 刷新页面并强制从服务器重新加载页面（忽略浏览器缓存）
        location.reload(true);
      })

      $('#upload-button').click(()=> {
        fileInput.click();
      });

      fileInput.change(()=>{
        const selectedFile=fileInput[0].files[0];

        if (selectedFile) {
                  // 这里可以处理上传操作，例如使用AJAX上传文件到服务器
        console.log(`Selected File: ${selectedFile.name}`);
        // 清空文件选择框，以便下次选择
        fileInput.val('');

         const formData=new FormData();
      formData.append('image',selectedFile)

      $.ajax({
        type:'POST',
        url:'https://exercise-jovian-careers-websit--salmonpj.repl.co/api/v1/uploads',
        data:formData,
        processData:false,
        contentType: false,
        success: function(response) {
                    // alert("image url:",response.image_url);
                     // location.reload(true
                },
        error: function(xhr, status, error) {
                    console.log(error)
                }
      });
        }
      })
      
    })
  </script>
</body>
</html>