<!DOCTYPE html>
<html lang="en">

<head>
  <title>Salmon's Blog</title>
  {% include 'bootstrap.html'%}
</head>

<body>
  {% include 'home_nav.html'%}
  <div class="container pt-3">
    <header class="text-center fs-1 border-bottom pb-3 fw-bolder">{{data.title}}</header>
  </div>
  <div class="p-5 text-center">
    <img  src={{data.image_url}} alt="">
    <div class="fs-5 mt-5 fw-semibold text-start">
      {{data.description}}    </div>
    <ul class="mt-5 mb-5 fw-medium text-start">
      <ol class="mb-3">{{data.key_point_01}}</ol>
      <ol class="mb-3">{{data.key_point_02}}</ol>
      <ol class="mb-3">{{data.key_point_03}}</ol>
      <ol class="mb-3">{{data.key_point_04}}</ol>
      <ol class="mb-3">{{data.key_point_05}}</ol>
      <ol class="mb-3">{{data.key_point_06}}</ol>
      <ol class="mb-3">{{data.key_point_07}}</ol>
      <ol class="mb-3">{{data.key_point_08}}</ol>
      <ol class="mb-3">{{data.key_point_09}}</ol>
      <ol class="mb-3">{{data.key_point_10}}</ol>
      <ol class="mb-3">{{data.key_point_11}}</ol>
      <ol class="mb-3">{{data.key_point_12}}</ol>
    </ul>
    <div class="text-start fs-5 fw-semibold">{{data.summary}}</div>
  </div>
</body>

</html>