              <div class="list-group-item list-group-item-primary">

              <div class="row gx-5">
                  <div class="col-6>
                      <b>{{item['id']}} 计划项目：</b>
                      {{item['title']}}
                  </div>
                
                 <div class="col-2">
                    <a class="btn border border-secondary" href="/target/{{item['id']}}" role="button">Link</a>
                 </div>
              
              </div>
            
            <div class="list-group-item list-group-item-secondary">
                <b>实践目标：</b>{{item['introduce']}}
              </div>
            </div>
                